.appbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #303179;
    padding: 1rem 4rem;
}

.text{
    font-size: 2rem;
    font-weight: 900;
    color: white;
}

.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.profile-img{
    width: 70px;
    border-radius: 50%;
}
.logout{
    width: 50px;
}

.back-btn{
    width: 50px;
    height: 50px;
}

@media screen and (max-width:400px) {
    .appbar{
        padding: 0.2rem 2rem;
    }
    .text{
        font-size: 1.2rem;
    }
    .profile-img{
        width: 40px;
    }
    .logout{
        width: 30px;
    }
}

@media (min-width:400px) and (max-width:560px) {
    .appbar{
        padding: 0.2rem 2rem;
    }
    .text{
        font-size: 1.4rem;
    }
    .profile-img{
        width: 50px;
    }
}