.container{
    background-color: #f5cac2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card{
    background-color: #ed7966;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border: 2px solid #141850;
    border-radius: 2rem;
    width: 30%;
}

.login{
    color: white;
    font-size: 2rem;
    font-weight: 500;
}

.hr{
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 2rem auto 0.5rem auto;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

input{
    width: 100%;
    margin: 0.5rem auto;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-bottom: 2px solid #141850;
    border-radius: 1rem;
}
input:focus{
    outline: none;
}
.login-btn{
    width: 90%;
    background: #141850;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    margin: 15px auto;
    padding: 12px 5px;
    text-align: center;
    transition: .5s ease;
}
.login-btn:hover{
    background: #303179;
}

.redirect{
    font-size: 1rem;
    color: white;
}

@media screen and (max-width:530px) {
    .login-card{
        width: 80%;
    }
}
@media (min-width:530px) and (max-width:700px) {
    .login-card{
        width: 60%;
    }
}
@media (min-width:700px) and (max-width:1300px) {
    .login-card{
        width: 40%;
    }
}




.img-holder{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  border: 3px #141850;
  border-radius: 50%;
  margin-top: 1rem;
}
.img{
  width: 98px;
  height: 98px;
  border-radius: 50%;
  object-fit: cover;
}